body{
    color: #ffffffbb;
    background: #123;
    margin:0;
    /* background: green; */
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    font-family: sans-serif, Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14pt;
}
div{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    box-sizing: border-box;
    width: auto;
}
.outer-box{
    position: absolute;
    background: #F9A83133;
    width: 360px;
    height: 640px;
    overflow: hidden;
}
.main-nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.125);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
.inner-content{
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: 100%;
}
.title{
    width: 100%;
    height: auto;
    background: #F9A831cc;
    padding: 0.2rem;
    font-size: 20pt;
    color: #ffffffcc;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title-middle{
  flex: 2 2;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-list-item{
    border-top: 1px solid rgba(0,0,0,0.5);
    width: 100%;
    height: auto;
    background: #ffffffDD;
    padding: 0.75vh;
    font-size: 0.75rem;
    color: #000000CC;
}
.main-nav-tab{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 64px;
    height: 64px;
    cursor: pointer;
}
.main-nav-tab-background{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width:64px;
    height:64px;
}
.icon-frame{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 0;
    height: 30px;
    border-radius: 18px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
    opacity:66%;
}
.selected .icon-frame{
    width: 64px;
    background: #F9A831cc;
    opacity: 100%;
    transition: opacity 300ms, width 300ms, background 300ms;
}
.choice-set{
    width: 100%;
    height: auto;
    display:block;
    /* flex-direction: row;
    justify-content: start;
    align-items: left; */
    padding: 0.25rem;
    background: rgb(0, 0, 0, 0.125);
    /* overflow: hidden; */
    /* overflow-x:hidden; */

}
.choice{
    border-radius: 18px;
    background: #00000088;
    color: #ffffffCC;
    margin: 0.25em 0.5em;
    padding: 3px 6px 2px;
    white-space: nowrap;
    font-size: 7pt;
    user-select: none; 
    cursor: pointer;

    display: inline-flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.choice.selected{
    background: #F9A831cc;
    color: #FFFFFFEE;
    transition: background 300ms, color 300ms;
}
.card-list{
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

    padding: 0.5em 0.25em;
    height: 100%;
    /* margin-top: 0.5em; */
}
.circle {
  width: 30px;
  height: 30px;
  background: #ffffff22;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
.circle.selected{
    width:180px;
}
.circle.selected input{
    opacity:1;
}
.card{
    border-radius: 18px;
    background-color: #00000099;
    color: #FFFFFFee;
    padding: 0.5em 0.75em;
    margin-right: 0.5em;
    width: 100%;
    margin-bottom: 0.5em;
    min-height: 120px;
    user-select: none;
    background-image: url("https://farm3.static.flickr.com/2098/2260149771_00cb406fd6_o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: darken;
    text-shadow: 0 0 12px black;
}

.icon-frame-inner{
    width: auto;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.icon{
    position: static;
    width: auto;
    height: auto;
    margin: 0;
}
.label{
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 7pt;
    color: #FFFFFF88;
    width: 100%;
    display: block;
    flex: none;
    order: 0;
    flex-grow: 0;
    user-select: none;
}
.selected .label{
    color: #FFFFFFEE;
    transition: color 300ms;
}

.title-text{
    margin-right: 1rem;
}

.page{
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    opacity: 1;
    visibility: visible;
    transition: opacity 900ms ease-in-out;
}

.hidden{
    opacity: 0;
    visibility: collapse;
    transition: opacity 900ms ease-in-out;
}

.card-subtitle{
    font-size: 12pt;
}
.card-text{
    font-size: 10pt;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    border-radius: 0.25em;
    padding: 0.25em;
    margin: 0.25em;
}
.card-you{
    font-size: 10pt;
    background-color: rgba(0,0,0,0.5);
    padding: 0.5em;
    width: 100%;
    text-align: right;
}
.card-title{
    font-size: 18pt;
    vertical-align: text-bottom;
    display: inline-flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;

}

.card-title-text{
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 1em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    margin-right:1em;
}
.hash-tag{
    padding: 0.25em 0.5em ;
    background: #88888888;
    border-radius: 3px;
    font-size: 0.5em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    margin-right:0.25em;
}