body {
    color: #ffffffbb;
    background: #123;
    margin: 0;
    /* background: green; */
    /*width: 100vw;*/
    /*height: 100vh;*/
    display: flex;
    align-items: flex-start;
    justify-content: left;
    font-family: sans-serif, Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14pt;
    user-select: none;
}

div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    width: auto;
}

.outer-box {
    position: absolute;
    background: #F9A83133;
    width: 360px;
    height: 640px;
    overflow: hidden;
}

.main-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #333333;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.inner-content {
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: 100%;
}

.title {
    width: 100%;
    height: auto;
    background: #F9A831ff;
    padding: 0.2rem;
    font-size: 20pt;
    color: #ffffffcc;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-middle {
    flex: 2 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-list-item {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    background: #ffffffDD;
    padding: 0.75vh;
    font-size: 0.75rem;
    color: #000000CC;
}

.main-nav-tab {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: auto;
    cursor: pointer;
}

.main-nav-tab-background {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}

.icon-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: auto;
    height: auto;
    border-radius: 36px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
    opacity: 99%;
}
.main-nav .icon-frame{
    background: #333333;
    border: 8px solid #333333;
    padding:18px;
}
.main-nav .icon-frame{
    height:36px;
    width:36px;
}
.person-icon .icon-frame{
    margin:    0 0.25em 0 0;
}
.person-icon .icon{
    height: 24px;
}
.person-icon .circle{
    padding-right: 0.5em;
    background: #0005;
}

.selected .icon-frame {
    background: #F9A831cc;
    opacity: 100%;
    transition: opacity 300ms, width 300ms, background 300ms;
}

.action-list,
.choice-set {
    width: 100%;
    height: auto;
    display: block;
    /* flex-direction: row;
    justify-content: start;
    align-items: left; */
    padding: 0.25rem;
    background: rgb(0, 0, 0, 0.125);
    /* overflow: hidden; */
    /* overflow-x:hidden; */
}

.action-list {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: flex-end;
    padding:0;
    margin:0;
}

.action-item,
.choice {
    border-radius: 18px;
    background: #00000088;
    color: #ffffffCC;
    margin: 0.25em 0.5em;
    padding: 3px 6px 2px;
    white-space: nowrap;
    font-size: 11pt;
    user-select: none;
    cursor: pointer;

    display: inline-flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.action-item,
.choice.selected {
    background: #F9A831cc;
    color: #FFFFFFEE;
    transition: background 300ms, color 300ms;
}

.action-item {
    border-radius: 30px;
    /*width: 24px;*/
    /*height: 24px;*/
    background: none;
    /*border: 1px solid #ffff;*/
    flex-direction: row;
    gap: 3pt;
    padding: 3pt 6pt;
}
.action-item .icon{
    max-width: 24px;
    max-height: 24px;
}
.title .action-item .icon{
    max-width: 24px;
    max-height: 24px;
}

.title .action-item {
    border: none;
}
.card-list {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

    padding: 0.5em 0.25em;
    height: 100%;
    /* margin-top: 0.5em; */
}
.action-list{
    background: none;
}
.action-list .action-item{
    background: #00000066;
    border: none;
}
.person-icon {
    width: fit-content;
    height: fit-content;
    background: #ffffff22;
    border: 1px solid #88888888;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    margin-right: 0.5em;
}

.card-people {
    flex-direction: row;
}

.circle {
    width: auto;
    height: auto;
    background: #ffffff22;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.circle.selected {
    width: 180px;
}

.circle.selected input {
    opacity: 1;
}

.card {
    border-radius: 18px;
    background-color: #FFF3;
    color: #FFFFFFee;
    padding: 0.5em 0.75em;
    margin-right: 0.5em;
    width: 100%;
    margin-bottom: 0.5em;
    user-select: none;
    /*background-image: url("https://farm3.static.flickr.com/2098/2260149771_00cb406fd6_o.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /*background-blend-mode: darken;*/
    text-shadow: 0 0 12px black;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    /*min-height: 231px;*/
    height: auto;
}

.card-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: right;
}

.card-quadrant {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

.icon-frame-inner {
    width: auto;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
}

.label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 7pt;
    color: #FFFFFF88;
    width: 100%;
    display: block;
    flex: none;
    order: 0;
    flex-grow: 0;
    user-select: none;
}

.selected .label {
    color: #FFFFFFEE;
    transition: color 300ms;
}

.title-text {
    margin-right: 1rem;
}

.page, .dialog {
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    opacity: 1;
    visibility: visible;
    transition: opacity 90ms ease-in-out;
}

.page > .action-item{
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 48px;
    height: 48px;
    border: none;
}
.page > .action-item .icon {
    max-width: 48px;
    max-height: 48px;
    width: 48px;
    height: 48px;
}
.hidden {
    width: 0;
    opacity: 0;
    visibility: collapse;
    transition: opacity 90ms ease-in-out;
}

.card-subtitle {
    font-size: 12pt;
}

.card-text {
    font-size: 10pt;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 0.25em;
    padding: 0.25em 0.125em;
    margin: 0.25em 0;
}

.card-you {
    font-size: 10pt;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    width: 100%;
    text-align: right;
}

.card-title {
    font-size: 18pt;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
}

.card-title-text {
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 1em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    margin-right: 1em;
}

.hash-tag {
    background: #88888888;
    border-radius: 3px;
    font-size: 0.5em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    margin: 0 0.25em 0.25em auto;
    padding: 0.25em 0.5em 0.125em;
    width: fit-content;
}
.hash-tag.red{
    background: #FF8888CC;
}
.hash-tag.green{
    background: #88ff88CC;
}
.hash-tag.blue{
    background: #8888ffCC;
}
.hash-tag.gold{
    background: #FFEE88CC;
}
.hash-tag.silver{
    background: #E0E0E0CC;
}
.hash-tag.black{
    background: #333333CC;
}
.hash-tag.white{
    background: #FFFFFFCC;
}
.money-panel,
.message-panel{
    margin: 0.5em;
    padding: 0.5em;
    background: #00000066;
    gap: 0.25em;
    border-radius: 1em;
}
.money-panel{
    margin: 1em 0;
    padding: 0.125em;
    background: #00000099;
    gap: 0.125em;
    border-radius: 0.125em;
}
.money-item,
.message-item{
    flex-direction: row;
    gap: 0.25em;
}
.money-item .circle,
.message-item .circle{
    flex-direction: row;
    font-size: 8pt;
    gap: 0.25em;
    height:24px;
    padding-right: 0.5em;
}
.money-item .money-text,
.message-item .message-text{
    flex-direction: column;
    font-size: 10pt;
    gap: 0.5em;
    background: #FFFFFFBB;
    padding: 0.5em;
    border-radius: 0 0.5em 0.5em 0.5em;
    color: #000000CC;
    box-shadow: none;
    text-shadow: none;
}
.money-item .money-text{
    font-size: 8pt;
    color:white;
    background: #fff1;
    border-radius: 0.25em;
    min-width: 50px;
    text-align: right;
}
.money-item{
    align-items: center;
    vertical-align: middle;
}
.money-item .circle{
    min-width: 100px;
    text-align: right;
    flex-direction: row;
    justify-content: space-between;
}

.simple-list{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid #00000088;
    background: #00000088;
    color: #ffffff88;
}
a{
    text-decoration-color: white;
}
.simple-item{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #00000088;
    background: #FFFFFF66;
    padding-left: 0.5rem;
    width: 100%;
}
.content{
    width: 360px;
    margin:0;
    padding:0;
}
.content-panel{
    width: 100%;
    margin:0;
    padding:0;
    height: 511px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.card .content-panel{
    margin: 0.5rem;
}
.card .content-panel,
.dialog .content-panel{
    height: auto;
}
.content-panel .title{
    background: none;
    padding: 0.5rem 0 0 0.25rem;
}
.content-panel .subtitle{
    background: none;
    padding: 0 0 0.25rem 0.5rem;
}
.simple-list .title,
.simple-list .subtitle,
.simple-list .title-block{
    background: none;
    width: 100%;
    flex: 1;
    padding: 0.2rem;
    font-size: 1rem;
}
.simple-list .subtitle{
    font-size: 0.8rem;
    padding: 0 0 0 0.25rem;
    margin:0;
}
.simple-list .icon {
    position: static;
    width: 24px;
    height: 24px;
    margin: 0;
}

.simple-list .action-item {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}
.simple-item > .circle > *{
    padding:0;
    margin:0;
    text-align: center;
    vertical-align: middle;
}
.simple-item > .circle {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background: none;
    border: 2px solid #ffffff88;
}
/*.simple-item:hover {*/
/*    background: #ffffff88;*/
/*}*/
.simple-item .action-item:hover {
    background: #ffffff33;
}
.simple-item .action-item .icon{
    max-width: 16px;
    max-height: 16px;
}
.smoke{
    background: #000000CC;
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.dialog{
    position: relative;
    background: #eeeeeeff;
    margin: auto;
    z-index: 999999;
    width:80%;
    height:auto;
    min-height: 120px;
    color: black;
    max-height: 640px;
    border-radius: 5px;
}
.dialog .title,
.dialog .subtitle{
    color: black;
    font-size: 1.2rem;
}
.dialog .autocomplete .simple-list,
.dialog input[type=text]{
    display: flex;
    /*flex: 1;*/
    padding: 0.25rem;
    margin: 0 0.25rem;
}
.dialog label{
    display: flex;
    flex-direction: column;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.row > * {
    align-self: center;
    justify-self: center;
}
.row .icon-frame{
    margin-right: 1rem;
}
.action-panel{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.action-button{
    margin: 1rem;
}
.length-5 .index-2{
    margin-top: -40px;
}