.choice {
    border-radius: 1rem;
    background: #00000088;
    color: #ffffffCC;
    margin: 0;
    padding: 0.1rem 0.4rem 0.1rem;

    font-size: 0.75rem;
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    min-height: 2rem;
    gap: 0.25rem;
    flex-direction: row;
    width: inherit;
}

#explore-filters .choice{
    border-radius: 3px;
}

.choice.selected {
    background: #F9A831;
    color: white;
    transition: background 300ms, color 300ms;
}

.choice-set {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 6px 6px 3px;
    /*background: #dddddd;*/
    overflow-x: scroll;
    min-height: 30px;
    justify-content: space-between;
}

/*.page.collect_board .choice-set {*/
/*    min-height: 48px;*/
/*}*/

.explore.page .choice {
    background: black;
    flex-direction: row;
}

#range .choice{
    min-width: 55px;
}
.explore.page .choice.selected {
    background: #F9A831;
    color: white;
    transition: background 300ms, color 300ms;
}

.connect.page .choice {
    min-width: 100px;
}

.collect.page .choice {
    min-width: 86px;
}

.settle.page .choice {
    /*min-width: 105px;*/
}

#plan_detail-filters .choice {
    min-width: 104px;
}

.plan.page .choice {
    min-width: 76px;
}
