a {
    text-decoration-color: white;
    color: white;
}

select {
    margin: 0;
    border-radius: 1rem;
    padding: 0.5rem;
    border: none;
    box-shadow: 1px 1px 2px 0 #0008;
    background: white;
}

option {
    margin: 0;
    padding: 0;
    border: none;
    background: white;
}

.left {
    text-align: left;
    align-self: flex-start;
    justify-self: flex-start;
    justify-content: flex-start;
}

input[type="text"] {
    margin: 0;
    /*background-image: url(../images/icons/icon-search-black.svg);*/
    background-repeat: no-repeat;
    /*width: 98%;*/
    border-radius: 1rem;
    padding: 0.5rem;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.2rem 0 #0008;
    background-position: 0.5rem 0.5rem;
}

input[type="text"]:focus {
    border: none;
}

input[type="number"],
input[type="date"],
input[type="time"] {
    border-radius: 1rem;
    padding: 0.5rem;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.2rem 0 #0008;
}

input[type="number"] {
    text-align: right;
    width: 6rem;
    border-radius: 0.125em;
    padding: 0.125rem;
    border: none;
    box-shadow: 1px 1px 2px 0 #0008;
    font-size: 0.75rem;
}

.radio-input .row {
    /*justify-content: center;*/
    align-content: center;
}

input[type="radio"] {
    /*align-self: center;*/
    /*justify-self: center;*/
    margin-top: 0.25rem;
    margin-left: 0.5rem;
}

.page.settle_split .day .action-item.show .icon {
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
}

.page.settle_split .day.collapse .action-item.show .icon {
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;
}

.page.settle_split .day.collapse {
    /*max-height: 240px;*/
}

.page.settle_split .day {
    max-height: 100vh;
    /*overflow: hidden;*/
    transition: max-height 300ms ease-in-out;
}

.page.settle_split .day.collapse .add-expense {
    max-height: 0;
}

.page.settle_split .day .add-expense {
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}

.page.settle_split .day.collapse .expense-item {
    max-height: 0;
    overflow: hidden;
}

.page.settle_split .day.collapse .expense-list {
    padding: 0;
    box-shadow: none;
    max-height: 0;
    overflow: hidden;
}

.page.settle_split .day.collapse .breakdown {
    max-height: 0;
}

.page.settle_split .day .breakdown {
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}

.page.settle_split .day .breakdown-inner {
    display: inline-block;
}

.page.settle_split .day .breakdown-item {
    display: inline-block;
    margin: 0.1rem;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0.25rem;
    width: 100%;
}

.stack > * {
    /*margin: 0;*/
    /*padding: 0;*/
}

.stack .text {
    text-align: center;
    justify-content: center;
    align-items: center;
    /**/
}

.rack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.range-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.card-people .row {
    gap: 0.7rem;
}

.center-content {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center,
.centered,
.center-me {
    align-self: center;
    justify-self: center;
    margin: auto;
    align-items: center;
}

.center-content {
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.right {
    text-align: right;
    align-items: flex-end;
    align-content: flex-end;
}

.nowrap {
    white-space: nowrap;
}

.framed {
    border: 1px solid black;
}

.rounded {
    border-radius: 0.5em;
}

.page .content-panel > .row.padded,
.padded {
    padding: 9px 3px;
}

.event {
    width: 100%;
    gap: .5em;
}

.event .row > .text {
    min-width: 95px;
}

.event .hash-tag {
    min-width: 40px;
}

.event label {
    width: 50%;
}

.event label input {
    width: 100%;
}

.event.padded {
    padding: 0.5em;
}

.fill {
    width: 100%;
}

.spread,
.space-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.spaced,
.space-evenly {
    justify-content: space-evenly;
}

.around,
.space-around {
    justify-content: space-around;
}

.row > * {
    align-self: center;
    justify-self: center;
}

.row .icon-frame {
    margin-right: 0;
    align-self: center;
}

.titles .row .icon-frame {
    margin-right: 0;
    align-self: flex-start;
}

.row .action-item .icon-frame {
    margin-right: 0;
}

.row > .action-item,
.row .col:last-of-type {
    /*width: 100%;*/
}

.card-title .action-item {
    padding: 0;
}

.col,
.row {
    width: auto;
}

.card-people .row {
    width: auto;
}

.row > .action-item {
    justify-content: right;
}

.card-title {
    width: 100%;
}

.card-subtitle {
    width: 100%;
}

.taste-match .hidden .pane-actions button,
.hidden.pane button,
.hidden.pane,
.hidden {
    padding: 0;
    min-height: 0;
    min-width: 0;
    height: 0;
    width: 0;
    opacity: 0;
    visibility: collapse;
    transition: opacity 300ms ease-in-out, height 300ms ease-in-out,
    width 300ms ease-in-out;
}

.page.explore .card.hidden {
    margin: 0;
    padding: 0;
    gap: 0;
    min-height: 0;
    min-width: 0;
    height: 0;
    width: 0;
    opacity: 0;
    visibility: collapse;
    transition: opacity 300ms ease-in-out, height 300ms ease-in-out,
    width 300ms ease-in-out;
}

.stack {
    gap: 3px;
    transition: all 300ms ease-in-out;
}

.collapse * {
    min-height: 0;
    max-height: 0;
    gap: 0;
    transition: all 300ms ease-in-out;
}

.card-list.collapse {
    min-height: 0;
    max-height: 0;
    gap: 0;
    padding: 0;
    height: 0;
    transition: all 300ms ease-in-out;
}

.collapse *,
.card-list {
    max-height: max-content;
    transition: all 300ms ease-in-out;
    height: auto;
}

.collapse .action-item.show .icon {
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;
}

.action-item.show .icon {
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
}

.filtered input {
    color: dimgray;
    background: whitesmoke;
    padding: 0.5em;
    border-radius: 1em 1em 1.5em 1em;
}

.filtered input,
.filtered select {
    border: none;
}

.filtered option {
    border: 1px solid silver;
    margin-top: -1px;
}

.filtered select {
    transition: max-height 300ms ease-in-out;
    max-height: 0;
}

.filtered option {
    border: 1px solid whitesmoke;
    margin: 0 0 -1px 0;
    padding: 0.5em;
    border-radius: 0.5em;
}

.checkered{
    background: repeating-conic-gradient(black 0% 25%, white 0% 50%) 50% / 2px 2px;
}

.progress-meter {
    /*width: fit-content;*/
    min-height: 8px;
    background: black;
    border: 1px solid black;
    display: flex;
    gap: 1px;
    flex-direction: row;
    width: 100%;
}
.page.timeline .progress-meter {
    margin-right: 1em;
}
.meter-step {
    background: #666;
    border: 1px solid #333;
    min-height: 8px;
    min-width: 15px;
    display: inline-block;
    margin: 0;
}

.meter-step.completed {
    background: #c93;
    border: 1px solid #fc9;
}

.meter-start {
    background: green;
    border: 1px solid darkgreen;
    min-height: 8px;
    min-width: 8px;
    display: inline-block;
}

.meter-finish {
    background: black;
    border: 1px solid #333;
    min-height: 8px;
    min-width: 8px;
    display: inline-block;
    background: repeating-conic-gradient(black 0% 25%, white 0% 50%) 50% / 3px 3px;
}