.page>.content-panel {
    /* min-height: 100vh; */
    height: 555px;
    background-color: #fffffff0;
    gap: 0;
    padding: 0;
    /*justify-content: center;*/
    align-items: center;
    text-shadow: none;
}
.settle.page>.content-panel {
    /*padding: 1em;*/
    /*padding-top: 24px;*/
}
.section,
.page.settle_day .label{
    border: 1px solid #dddddd;
    padding: 6px;
    margin: 6px 0;
    border-radius: 0.5em;
    width: 100%;
}
input[type=number]{
    text-align: right;
}
.content-panel {
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    color: #333333;
    background-color: white;
    justify-content: flex-start;
    /*align-items: center;*/
    /*text-shadow: 1px 1px 0px rgba(0,0,0,0.5);*/
}
.card .content-panel{
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
.page .settle.card{
    background-color: #663399;
}
.page.settle > .content-panel {
    text-shadow: none;
}

.page.settle .content-panel {
    text-shadow: none;
}

.page.settle .content-panel label {
    padding: 6px 9px;
}



.page .content-panel>.row {
    width: 100%;
    gap: 0.5em;
    padding: 0;
    align-content: space-evenly;
    vertical-align: middle;
    /*flex-direction: ;*/
}

.content-panel .circle .text {
    color: white;
}

.dialog .content-panel .circle .text {
    color: white;
}
.dialog .content-panel .circle > .text {
    color: black;
}

.card .content-panel .circle .text {
    color: black;
}

.dialog .content-panel .card .circle .text {
    color: black;
}
.dialog .content-panel .card .circle > .text {
    color: white;
}

.content-panel .card-people {
    margin-top: -1px;
    align-self: flex-start;

    /*align-content: center;*/
    /*justify-content: center;*/
}

.page>.content-panel>.card-people {
    align-content: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.page.explore_detail>.content-panel,
.page.collect_board>.content-panel,
.page.plan_detail>.content-panel {
    gap: 6px;
    background: none;
    /*display: block;*/
    height: 555px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 96px;
    /*padding-top: 550px;*/
}
.page.explore_detail>.content-panel{
    padding-top: 0;
    justify-content: flex-start;
}
.page.plan_detail>.content-panel{
    /*padding-top: 455px;*/
}
.page.collect_board>.content-panel{
    padding-top: 0;
    justify-content: flex-start;
}

.page.plan_detail {
    background-color: #fffffff0;
}

.page.plan_detail .label-when input {
    width: 48%
}

.card-list .title {
    /*border-top: 1px solid #888888;*/
    /*border-bottom: 1px solid #888888;*/
}

.detail .content-panel {
    margin: 0;
    color: #333333;
    background-color: #eeeeee;
    border-radius: 0;
    font-size: 11px;
    align-content: space-between;
    justify-content: space-between;
}

.card .content-panel {
    /*margin: 0.25rem;*/
    color: white;
    background-color: #00000033;
    border-radius: 0.5rem;
    font-size: 11px;
}

.detail .content-panel,
.card .content-panel,
.dialog .content-panel {
    height: auto;
    padding: 0.5rem;
    /*border-radius: 40px;*/
    gap: 0;
    background: none;
    min-width: 70%;
    min-height: 20%;
}

.content-panel>.title {
    background: none;
    padding: 0.5em;
    background: #00000008;
}

.content-panel>.title {
    box-shadow: 0 0 1px black;
}

.content-panel .subtitle {
    background: none;
    padding: 0;
}

.dialog .content-panel .text {
    font-size: 1rem;
}

.content-panel > .text {
    font-size: 1rem;
}