
.detail {
    /*gap: 1rem;*/
    padding: 0.5rem;
}

.detail .col {
    gap: 0.25rem;
}

.detail .row {
    gap: 1rem;
}

.detail .image {
    /*border: 1rem solid #eeeeee;*/
    border-radius: 1rem;
    max-height: 50vh;
    margin: 0;
}
.detail.stack .text{
    text-align: left;
    align-items: flex-start;
    white-space: break-spaces;

    justify-content: flex-start;
    justify-items: flex-start;
    justify-self: flex-start;
}

.detail a {
    text-decoration-color: cornflowerblue;
    color: cornflowerblue;
}

.detail {
    font-size: 1.125rem;
}

.detail .card-title {
    font-size: 3rem;
}

.detail .row,
.detail .col {
    width: 100%;
}

.detail .image {
    height: 50%;
}

.detail > .card-section,
.detail > .row {
    width: 98%;
}

.detail .card-subtitle {
    width: 100%;
    font-size: 1.5rem;
}

.detail .icon {
    width: 2rem;
    height: 2rem;
}

.detail .titles .icon {
    width: 3rem;
    height: 3rem;
}

.detail .card-tags {
    display: block;
    margin: 0;
    white-space: nowrap;
    overflow-y: visible;
    overflow-x: visible;
}

.page.explore_detail > .content-panel{
    height: 100vh;
}
/*.detail.explore {*/
/*    align-content: space-between;*/
/*    justify-content: space-between;*/
/*    !*height: 476px;*!*/
/*}*/
