
.icon-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: auto;
    height: auto;
    border-radius: 3rem;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
    opacity: 99%;
}

/* .selected .icon-frame {
    background: #F9A831cc;
    opacity: 100%;
    transition: opacity 300ms, width 300ms, background 300ms;
} */


.icon-frame-inner {
    width: auto;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon {
    position: static;
    /*width: 2rem;*/
    /*height: 2rem;*/
    margin: 0;
}
.explore.page .card .icon{
    width: 1rem;
    height: 1rem;
}
.explore.page .card .card-inner > .card-section > .content-panel > .card-subtitle{
    font-size: clamp(7px, 2vw, 1rem);
}
.explore.page .action-item{
    font-size: 1rem;
}
.explore.page .action-item.person .icon-frame .icon{
    width: 2rem;
    height: 2rem;
}
.action-item .icon,
.title .action-item.menu .icon {
    max-width: 2rem;
    max-height: 2rem;
    width: 2rem;
    height: 2rem;
}

.small.action-item .icon,
.title .small.action-item.menu .icon {
    max-width: 1rem;
    max-height: 1rem;
    width: 1rem;
    height: 1rem;
}
