
.card.connect .content-panel,
.card.connect .message-panel,
.card.connect .message-panel > label {
    background: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.card.connect .card-people {
    margin: 0.5rem 0;
}

.dream_board .card{
    min-height: 164px;
}
.dream_board .card .text{
    font-size: 13px;
}
.card.connect .content-panel > .row{
    background: #0008;
    padding: 6px;
    border-radius: 6px;
}
.card.connect .message-panel{
    background: white;
    padding: 6px;
    border-radius: 6px;
}
