.card.connect .content-panel,
.card.connect .message-panel,
.card.connect .message-panel>label {
    background: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.card.connect{
    background-color: #336699;
}
.card.connect .subtitle {
    position: absolute;
    bottom: 12px;
    right: 12px;
}
.card.connect .title{
    color: white;
    text-align: center;
    width: 100%;
}
.card.explore .card-people .person-icon{
    display:none;
}
.card.explore .card-people .person-icon:first-child{
    display:flex;
}

.card.connect .card-people {
    margin: 0.5rem 0;
}

.card.explore>.row>.col>.row>.col{
    gap: 0px;
}
.card.explore .card-people .col,
.card-people .col {
    gap: 0;
}
.card-people>.col>.text{
    margin-top: 3px;
    font-size: clamp(7px, 2vw, 10px)
}
.plan_detail .card,
.collect_board .card {
    min-height: 320px;
    opacity: 1;
    visibility: visible;
    width: 95%;
    height: auto;
    padding: 12px;
}

.plan_detail .card .text,
.collect_board .card .text {
    font-size: 9px;
}

.card.connect .content-panel>.row {
    background: #0008;
    padding: 6px;
    border-radius: 6px;
}

.card.connect .message-panel {
    background: none;
    padding: 0;
    border-radius: 0;
}