
.action-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 24px;
}

/* .action-button {
    margin: 1rem;
} */


.action-list {
    width: 100%;
    height: auto;
    background: #dddddd;
    display: flex;
    flex-direction: row-reverse;
    align-content: space-evenly;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.action-list,
.card-actions {
    gap: 0.25rem;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.action-item {
    width: fit-content;
    height: fit-content;
    margin: 0;
    /*white-space: nowrap;*/
    font-size: 10px;
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    /*background: #F9A831;*/
    color: white;
    border-radius: 30px;
    flex-direction: row;
    gap: 1px;
    padding: 6px;
    /*padding: 0;*/
    transform: rotate(0deg);
    transition: background 300ms ease-in-out,
                color 300ms ease-in-out,
                transform 300ms ease-in-out;
}
.explore.page .action-item.small {
    padding: 1px 2px;
    margin: 0;
    gap: 0;
    /*background: none;*/
    border-radius: 3px;
    font-size: 11px;
}
.action-item.book{
    background: #F9A831cc;
}
.action-item.book:hover{
    background: #F9A831FF;
}
.card-title .action-item{
    background: none;
}
.page.explore .col:last-child{
    align-self: self-end;
    flex-direction: column;
    align-content: center;
    /*align-self: center;*/
    justify-content: center;
    justify-self: center;
    justify-items: center;
    width: 100%;
}
.page.explore .col:last-child .action-item.book {
    align-self: self-end;
    /*flex-direction: column;*/
    align-content: center;
    /*align-self: center;*/
    justify-content: center;
    justify-self: center;
    justify-items: center;
    height: max-content;
    text-align: center;
    /*border-radius: 6px;*/
    text-shadow: none;
}
.collapsed .action-item.collapse{
    transform: rotate(180deg);
    transition: transform 300ms ease-in-out;
}

/*.card-title .action-item {*/
/*    padding: 0;*/
/*}*/

.action-item .icon {
    max-width: 24px;
    max-height: 24px;
}

.profile > .action-item.person .text {
    font-size: 2em;
}

.profile > .action-item.person .icon {
    max-width: none;
    max-height: none;
    width: 56px;
    height: 56px;
}

.action-list .action-item .icon {
    max-width: 18px;
    max-height: 18px;
}

.title .action-item .icon {
    max-width: 24px;
    max-height: 24px;
}


.title .action-item {
    border: none;
}

.title .action-item .text {
    display: none;
}

.page.settle .title .action-item .text {
    display: flex;
}

.action-list {
    background: none;
}
.title > .action-item{
    background: white;
}
.title > .action-item{
    background: white;
}
.header .title > .action-item{
    background: none;
}

.action-item {
    background: #88888888;
    border: none;
}
.action-item:hover {
    background: #888888ff;
    border: none;
}

.activity-list .action-item {
    background: #00000022;
    border: none;
}
.activity-list .action-item:hover {
    background: #0008;
    border: none;
}
