
.action-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 18px;
}

.action-button {
    margin: 1rem;
}


.action-list {
    width: 100%;
    height: auto;
    background: #dddddd;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.action-list,
.card-actions {
    gap: 0.25rem;
}

.action-item {
    margin: 0;
    white-space: nowrap;
    font-size: 11pt;
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background: #F9A831;
    color: white;
    border-radius: 30px;
    background: none;
    flex-direction: row;
    gap: 4px;
    padding: 6px;
    /*padding: 0;*/
    transform: rotate(0deg);
    transition: background 300ms ease-in-out,
                color 300ms ease-in-out,
                transform 300ms ease-in-out;
}

.collapsed .action-item.collapse{
    transform: rotate(180deg);
    transition: transform 300ms ease-in-out;
}

/*.card-title .action-item {*/
/*    padding: 0;*/
/*}*/

.action-item .icon {
    max-width: 24px;
    max-height: 24px;
}

.profile .action-item.person .text {
    font-size: 2em;
}
.profile .action-item.person .icon {
    max-width: none;
    max-height: none;
    width: 56px;
    height: 56px;
}

.action-list .action-item .icon {
    max-width: 24px;
    max-height: 24px;
}

.title .action-item .icon {
    max-width: 24px;
    max-height: 24px;
}

.title .action-item {
    border: none;
}

.title .action-item .text {
    display: none;
}

.action-list {
    background: none;
}
.title > .action-item{
    background: white;
}
.action-list .action-item {
    background: #00000066;
    border: none;
}
