
.card-subtitle {
    margin-bottom: 0.125rem;
}

.card-list {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 0;
    gap: 0;
    background-color: white;
}

.card-people {
    flex-direction: row;
    gap: 0.25rem;
}

.card {
    border-radius: 13px;
    background-color: #FFF3;
    color: #FFFFFF;
    padding: 15px;
    margin: 0 0 8px 0;
    /*width: auto;*/
    width: calc(100% - 16px);
    align-self: center;
    user-select: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /*text-shadow: 1px 1px 0 black;*/
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: auto;
    position: relative;
}

.card-tags {
    display: block;
    margin: 0px 0;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

.page.explore .card.collapsed .card-tags,
.page.explore .card.collapsed .card-people,
.page.explore .card.collapsed .content-panel {
    display: none;
}

.page.explore .card .action-list .icon {
    width: 12px;
    height: 12px;
    transition: width 300ms ease-in-out,
    height 300ms ease-in-out;
}

.page.explore .card .background.image {
    opacity: 0.50;
}

.page.explore .card.collapsed .background.image {
    opacity: 0.20;
}

.page.explore .card.collapsed {
    min-height: 92px;
}

.page.explore .card-list > .card-title {
    margin-bottom: 1rem;
    flex-direction: column;
}

.page .card-list > .card-title {
    display: none;
}

.page.explore .card-list > .card-title {
    display: flex;
}

.page.explore .card-list > .card-title .card-title {
    font-weight: bolder;
    font-size: 11px;
}

.card.explore .content-panel {
    background-color: #0008;
}

.page.explore .card.explore .icon {
    position: static;
    margin: 0;
}
.card .titles .row .col{
    margin-left: 12px;
}
.page.explore .card.explore .card-title {
    font-size: 13px
}

.page.explore .card.explore .row {
    justify-content: space-between;
}

.page.explore .card.explore .content-panel .action-item {
    padding: 0;
}

.page .card {
    min-height: 60px;
    /*background-size: 72%;*/
    box-shadow: 2px 2px 4px 1px #00000088;
}

.page.explore_detail .card{
    min-height: 466px;
}
.page.explore_detail .card .action-item.open{
display: none;
}

.page.dream .card {
    background-blend-mode: darken;
    /*filter: brightness(50%);*/
}

.page.dream .card .background.image {
    display: none;
}

.page.explore .card {
    min-height: 293px;
    transition: opacity 300ms ease-in-out,
    min-height 300ms ease-in-out;
    padding: 6px;
    width: 100%;
}

.page.dream .card {
    background-color: #0005;
}

.card > * {
    z-index: 200;
}

.card .background {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.85;
    z-index: 100;
}

.card .background.top {
    top: 0;
}

.card .background.bottom {
    bottom: 0;
}

.card-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: right;
}

.card-quadrant {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    gap: 0.5rem;
}
.card.connect .card-quadrant{
    flex-direction: row;
    justify-content: space-evenly;
}
.card.connect .card-quadrant .action-list {
    width: auto;
    flex-direction: column;
    justify-content: center;
}

.card-subtitle {
    font-size: 11px;
}

.card-text {
    font-size: 10pt;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 0.25em;
    padding: 0.25em 0.125em;
    margin: 0.25em 0;
}

.card-you {
    font-size: 10pt;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    width: 100%;
    text-align: right;
}

.card-title {
    font-size: 18pt;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    width: 100%;
}

.card-title-text {
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 1em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    margin-right: 1em;
}

.card.explore {
    background-color: #ff6666;
    box-shadow: 2px 2px 4px 1px #00000088;
}

.card.connect {
    background-color: #F9A831;
}

.page.explore .row > * {
    align-self: auto;
}

.page.explore > .content-panel > .row {
    width: 100%;
    gap: 3px;
    padding: 5px;
}

.page.explore .card-list {
    padding: 0;
    margin: 0;
    /*align-self: center;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*alignment: center;*/
    width: 50%;
}

.page.explore .card.explore {
    background-color: #ff6666;
    box-shadow: 2px 2px 4px 1px #00000088;
    width: 100%;
    margin: 0 4px 4px 0;
    background-size: auto;
}

/*.page.explore .card.explore:nth-child(odd) {*/
/*    align-self: flex-start;*/
/*}*/
/*.page.explore .card.explore:nth-child(even) {*/
/*    align-self: flex-end;*/
/*}*/

.page.explore .card > .row,
.page.explore .card > .row .col .row,
.page.explore .card > .row .col .row .col
{
    /*width: 100%;*/
    /*margin: 0 auto;*/
}
.page.explore .row .icon-frame{
    align-self: center;
}
.card {
    /* prevents the exported black frames from figma from showing. */
    background-size: 103%;
    gap: 1rem;
}

.card.dream,
.card.board {
    background-color: #6677cc;
}

.card.plan {
    background-color: #77cc77;
}

.card.settle {
    background-color: #6633EE;
}
.card-list .card-list .row{
    width: 100%;
}
.card-list .card {
    transition: opacity 300ms ease-in-out,
    padding 300ms ease-in-out,
    max-height 300ms ease-in-out,
    max-height 300ms ease-in-out,
    min-height 300ms ease-in-out,
    minwidth 300ms ease-in-out;
}

.page.explore .action-item .text{
    /*display: none;*/
}
.action-item.person .text,
.message-item .text,
.person-icon .text {
    display: none;
    /*width:0;*/
    /*margin:0;*/
    /*padding:0;*/
    max-height: 0;
    max-width: 0;
    opacity: 0;
    visibility: collapse;
    transition: opacity 300ms ease-in-out,
    height 300ms ease-in-out,
    width 300ms ease-in-out;
}

.page.explore .action-item:hover .text{
    /*display: flex;*/
    /*position: absolute;*/
    /*background-color: black;*/
    /*z-index: 999;*/
    /*margin-right:2em;*/
    /*bottom:0;*/
}
.person-icon:hover text{
    display: flex;
    position: absolute;
    background-color: black;
    z-index: 99999;
    margin-right:2em;
    bottom:0;
}
.page.explore .action-item.collapse:hover .text {
    display: none;
}

.person-icon:hover .text {
    display: block;
    background: #0008;
    position: absolute;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    border-radius: 12px;
    z-index: 99999;
    top: -66%;
    opacity: 1;
    visibility: visible;
    transition: all 1300ms ease-in-out;
}

.card-list.collapse .card {
opacity: 0;
min-height: 0;
max-height: 0;
margin: 0;
padding: 0;
transition: opacity 300ms ease-in-out,
padding 300ms ease-in-out,
max-height 300ms ease-in-out,
max-height 300ms ease-in-out,
min-height 300ms ease-in-out,
minwidth 300ms ease-in-out;
}

.card-list.collapse .card > * {
display: none;
}
.card-list > .row{
border-top: 1px solid #bbb;
}
.card-list .row > .title{
background: none;
}
.card-list > .row > .action-item .icon {
transform: rotate(90deg);
transition: transform 300ms ease-in-out;
}

.card-list.collapse > .row > .action-item .icon {
transform: rotate(0deg);
transition: transform 300ms ease-in-out;
}

.page.explore .card.explore .content-panel .action-item.favorite .text {
display: block;
}
.page.explore .action-item.favorite .text{
display: block;
}