
.card-subtitle {
    margin-bottom: 0.125rem;
}

.card-list {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 0.5em 0.25em 64px 0.25em;
}

.card-people {
    flex-direction: row;
    gap: 0.25rem;
}

.card {
    border-radius: 13px;
    background-color: #FFF3;
    color: #FFFFFF;
    padding: 0.25em;
    margin-right: 0.5em;
    width: 100%;
    margin-bottom: 0.5em;
    user-select: none;
    /*background-image: url("https://farm3.static.flickr.com/2098/2260149771_00cb406fd6_o.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /*background-blend-mode: darken;*/
    text-shadow: 1px 1px 0px black;
    /*display: flex;*/
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: auto;
    position: relative;
    /*min-height: 231px;*/
}

.card-tags {
    display: block;
    /*flex-direction: row;*/
    /*align-self: flex-start;*/
    margin: 0.5rem 0;
}

.page.explore .card.collapsed .card-tags,
.page.explore .card.collapsed .card-people,
.page.explore .card.collapsed .content-panel {
    /*max-height: 0;*/
    display: none;
}

/*.page.explore .card.collapsed .action-list .icon {*/
.page.explore .card .action-list .icon {
    width: 12px;
    height: 12px;
    transition: width 300ms ease-in-out,
    height 300ms ease-in-out;
}

.page.explore .card .background.image {
    opacity: 0.50;
}

.page.explore .card.collapsed .background.image {
    opacity: 0.20;
}

.page.explore .card.collapsed {
    min-height: 23vw;
}
.page.explore .card-list > .card-title {
    margin-bottom: 1rem;
    flex-direction: column;
}
.page .card-list > .card-title{
    display:none;
}
.page.explore .card-list > .card-title{
    display:flex;
}
.page.explore .card-list > .card-title .card-title{
    font-weight: bolder;
    font-size: 11px;
}
.card.explore .content-panel {
    background-color: #0008;
}
.page.explore .card.explore .icon {
    position: static;
    /*width: 12px;*/
    /*height: 12px;*/
    margin: 0;
}

.page.explore .card.explore .card-title{
    font-size: 15px
}
.page.explore .card.explore .row {
    justify-content: space-between;
}
.page.explore .card.explore .content-panel .action-item{
    padding: 1px;
}

.page.dream .card {
    min-height: 60px;
    /*background-size: 72%;*/
    box-shadow: 2px 2px 4px 1px #00000088;
}

.page.dream .card {
    background-blend-mode: darken;
    /*filter: brightness(50%);*/
}

.page.dream .card .background.image {
    display: none;
}

.page.explore .card {
    min-height: 293px;
    transition: opacity 300ms ease-in-out,
    min-height 300ms ease-in-out;
}

.page.dream .card {
    background-color: #0005;
}

.card > * {
    z-index: 200;
}

.card .background {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.85;
    z-index: 100;
}

.card .background.top {
    top: 0;
}

.card .background.bottom {
    bottom: 0;
}

.card-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: right;
}

.card-quadrant {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    gap: 0.5rem;
}

.card-subtitle {
    font-size: 11px;
}

.card-text {
    font-size: 10pt;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 0.25em;
    padding: 0.25em 0.125em;
    margin: 0.25em 0;
}

.card-you {
    font-size: 10pt;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    width: 100%;
    text-align: right;
}

.card-title {
    font-size: 18pt;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
}

.card-title-text {
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 1em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    margin-right: 1em;
}

.card.explore {
    background-color: #ff6666;
    box-shadow: 2px 2px 4px 1px #00000088;
}

.card.connect {
    background-color: #F9A831;
}
.page.explore .row > *{
    align-self: auto;
}
.page.explore > .content-panel > .row {
    width:100%;
    gap: 8px;
    padding: 8px;
}
.page.explore .card-list {
    padding:0;
    margin:0;
    /*align-self: center;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*alignment: center;*/
    width: 50%;
}
.page.explore .card.explore{
    background-color: #ff6666;
    box-shadow: 2px 2px 4px 1px #00000088;
    width:100%;
    margin: 0 4px 4px 0;
}
/*.page.explore .card.explore:nth-child(odd) {*/
/*    align-self: flex-start;*/
/*}*/
/*.page.explore .card.explore:nth-child(even) {*/
/*    align-self: flex-end;*/
/*}*/

.card {
    /* prevents the exported black frames from figma from showing. */
    background-size: 103%;
}

.card.dream,
.card.board {
    background-color: #6677cc;
}

.card.plan {
    background-color: #77cc77;
}

.card.settle {
    background-color: #6633EE;
}
