a {
    text-decoration-color: white;
    color:white;
}

input[type=text] {
    margin: 0;
    /*background-image: url(../images/icons/icon-search-black.svg);*/
    background-repeat: no-repeat;
    /*width: 98%;*/
    border-radius: 2em;
    padding: 0.75em;
    border: none;
    box-shadow: 1px 1px 2px 0 #0008;
    background-position: 0.75em 0.75em;
}
input[type=text]:focus {
    border: none;
}
.radio-input .row{
    /*justify-content: center;*/
    align-content: center;
}
input[type=radio] {
    /*align-self: center;*/
    /*justify-self: center;*/
    margin-top:3px;
    margin-left:0.5em;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.range-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.card-people .row {
    gap: 8px;
}

.center-content{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.center-me{
    align-self: center;
    justify-self: center;
    margin: auto;
}

.space-between{
    align-items: stretch;
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}

.space-around{
    justify-content: space-around;
}

.row > * {
    align-self: center;
    justify-self: center;
}

.row .icon-frame {
    margin-right: 0;
    align-self: center;
}
.titles .row .icon-frame {
    margin-right: 0;
    align-self: flex-start;
}

.row .action-item .icon-frame {
    margin-right: 0;
}

.row > .action-item,
.row .col:last-of-type {
    /*width: 100%;*/
}

.card-title .action-item {
    padding: 0;
}

.col,
.row {
    width: 100%;
}

.card-people .row{
    width: auto;
}
.row > .action-item{
    justify-content: right;
}
.hidden {
    min-height: 0;
    min-width: 0;
    height: 0;
    width: 0;
    opacity: 0;
    visibility: collapse;
    transition: opacity 300ms ease-in-out,
    height 300ms ease-in-out,
    width 300ms ease-in-out;
}

.page.explore .card.hidden {
    margin:0;
    padding:0;
    gap:0;
    min-height: 0;
    min-width: 0;
    height: 0;
    width: 0;
    opacity: 0;
    visibility: collapse;
    transition: opacity 300ms ease-in-out,
    height 300ms ease-in-out,
    width 300ms ease-in-out;
}
