a {
    text-decoration-color: white;
    color: white;
}

select {
    margin: 0;
    border-radius: 1rem;
    padding: 0.5rem;
    border: none;
    box-shadow: 1px 1px 2px 0 #0008;
    background: white;
}

option {
    margin: 0;
    padding: 0;
    border: none;
    background: white;
}
.left{
    text-align: left;
    align-self: flex-start;
    justify-self: flex-start;
    justify-content: flex-start;
}
input[type=text] {
    margin: 0;
    /*background-image: url(../images/icons/icon-search-black.svg);*/
    background-repeat: no-repeat;
    /*width: 98%;*/
    border-radius: 2em;
    padding: 0.75em;
    border: none;
    box-shadow: 1px 1px 2px 0 #0008;
    background-position: 0.75em 0.75em;
}

input[type=text]:focus {
    border: none;
}

input[type=number],
input[type=date],
input[type=time] {
    border-radius: 2em;
    padding: 0.75em;
    border: none;
    box-shadow: 1px 1px 2px 0 #0008;
}

input[type=number]{
    text-align: right;
    width: 6em;
    border-radius: 0.125em;
    padding: 0.125em;
    border: none;
    box-shadow: 1px 1px 2px 0 #0008;
    font-size: 9px;
}

.radio-input .row {
    /*justify-content: center;*/
    align-content: center;
}

input[type=radio] {
    /*align-self: center;*/
    /*justify-self: center;*/
    margin-top: 3px;
    margin-left: 0.5em;
}
.page.settle_split .day .action-item.show .icon {
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
}
.page.settle_split .day.collapse .action-item.show .icon {
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;
}
.page.settle_split .day.collapse {
    /*max-height: 240px;*/
}
.page.settle_split .day {
    max-height: 640px;
    /*overflow: hidden;*/
    transition: max-height 300ms ease-in-out;
}
.page.settle_split .day.collapse .add-expense{
    max-height: 0;
}
.page.settle_split .day .add-expense{
    max-height: 640px;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}

.page.settle_split .day.collapse .expense-item{
    max-height: 0;
    overflow: hidden;
}

.page.settle_split .day.collapse .expense-list{
    padding: 0;
    box-shadow: none;
    max-height: 0;
    overflow: hidden;
}

.page.settle_split .day.collapse .breakdown{
    max-height: 0;
}

.page.settle_split .day .breakdown{
    max-height: 640px;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}

.page.settle_split .day .breakdown-inner{
    display: inline-block;
}

.page.settle_split .day .breakdown-item{
    display: inline-block;
    margin: 1px;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 3px;
    width: 100%;
}
.stack > * {
    /*margin: 0;*/
    /*padding: 0;*/
}
.stack .text{
    text-align: center;
    justify-content: center;
    align-items: center;
    /*white-space: nowrap;*/
}
.rack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;

}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.range-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.card-people .row {
    gap: 8px;
}

.center-content {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center,
.centered,
.center-me {
    align-self: center;
    justify-self: center;
    margin: auto;
    align-items: center;
}
.center-content{
    justify-content: center;
    align-items: center;
    vertical-align: center;
    text-align: center;
}
.right{
    text-align: right;
    align-items: flex-end;
    align-content: flex-end;
}
.nowrap{
    white-space: nowrap;
}
.page .content-panel > .row.padded,
.padded{
    padding: 9px 3px;
}
.fill {
    width: 100%;
}

.spread,
.space-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.spaced,
.space-evenly {
    justify-content: space-evenly;
}

.around,
.space-around {
    justify-content: space-around;
}

.row > * {
    align-self: center;
    justify-self: center;
}

.row .icon-frame {
    margin-right: 0;
    align-self: center;
}

.titles .row .icon-frame {
    margin-right: 0;
    align-self: flex-start;
}

.row .action-item .icon-frame {
    margin-right: 0;
}

.row > .action-item,
.row .col:last-of-type {
    /*width: 100%;*/
}

.card-title .action-item {
    padding: 0;
}

.col,
.row {
    width: auto;
}

.card-people .row {
    width: auto;
}

.row > .action-item {
    justify-content: right;
}
.card-title{
    width: 100%;
}
.taste-match .hidden .pane-actions button,
.hidden.pane button,
.hidden.pane,
.hidden {
    padding: 0;
    min-height: 0;
    min-width: 0;
    height: 0;
    width: 0;
    opacity: 0;
    visibility: collapse;
    transition: opacity 300ms ease-in-out,
    height 300ms ease-in-out,
    width 300ms ease-in-out;
}

.page.explore .card.hidden {
    margin: 0;
    padding: 0;
    gap: 0;
    min-height: 0;
    min-width: 0;
    height: 0;
    width: 0;
    opacity: 0;
    visibility: collapse;
    transition: opacity 300ms ease-in-out,
    height 300ms ease-in-out,
    width 300ms ease-in-out;
}


.stack {
    gap: 3px;
    transition: all 300ms ease-in-out;
}

.collapse * {
    min-height: 0;
    gap: 0;
    transition: all 300ms ease-in-out;
}

.card-list.collapse {
    min-height: 0;
    gap: 0;
    padding: 0;
    transition: all 300ms ease-in-out;
}
