.page>.content-panel {
    /* min-height: 100vh; */
    height: 555px;
    background-color: #fffffff0;
    gap: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.settle.page>.content-panel {
    padding-top: 24px;
}
.content-panel {
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    color: #333333;
    background-color: white;
    justify-content: flex-start;
    /*align-items: center;*/
    /*font-size: 1.2rem;*/
}

.page .content-panel>.row {
    width: 100%;
    gap: 0.5em;
    padding: 0;
    align-content: space-evenly;
    alignment: center;
    /*flex-direction: ;*/
}

.content-panel .circle .text {
    color: white;
}

.dialog .content-panel .circle .text {
    color: white;
}
.dialog .content-panel .circle > .text {
    color: black;
}

.content-panel .card-people {
    margin-top: -1px;
    /*align-content: center;*/
    /*justify-content: center;*/
}

.page>.content-panel>.card-people {
    align-content: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.page.explore_detail>.content-panel,
.page.collect_board>.content-panel,
.page.plan_detail>.content-panel {
    gap: 6px;
    background: none;
    /*display: block;*/
    height: 555px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 96px;
    /*padding-top: 550px;*/
}
.page.explore_detail>.content-panel{
    padding-top: 550px;
}
.page.plan_detail>.content-panel{
    padding-top: 455px;
}
.page.collect_board>.content-panel{
    padding-top: 260px;
}

.page.plan_detail {
    background-color: #fffffff0;
}

.page.plan_detail .label-when input {
    width: 40%
}

.card-list .title {
    /*border-top: 1px solid #888888;*/
    /*border-bottom: 1px solid #888888;*/
}

.detail .content-panel {
    margin: 0;
    color: #333333;
    background-color: #eeeeee;
    border-radius: 0;
    font-size: 11px;
    align-content: space-between;
    justify-content: space-between;
}

.card .content-panel {
    /*margin: 0.25rem;*/
    color: white;
    background-color: #00000033;
    border-radius: 0.5rem;
    font-size: 11px;
}

.detail .content-panel,
.card .content-panel,
.dialog .content-panel {
    height: auto;
    padding: 0.5rem;
    /*border-radius: 40px;*/
    gap: 0.5rem;
    background: none;
    min-width: 70%;
    min-height: 20%;
}

.content-panel>.title {
    background: none;
    padding: 0.5em;
    background: #00000008;
}

.content-panel>.title {
    box-shadow: 0 0 1px black;
}

.content-panel .subtitle {
    background: none;
    padding: 0 0 0.5rem 0.5rem;
}

.dialog .content-panel .text {
    font-size: 14px;
}

.content-panel > .text {
    font-size: 11px;
}