
.page > .content-panel {
    height: 555px;
}
.content-panel {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #333333;
    background-color: white;
    justify-content: flex-start;
    /*align-items: center;*/
    /*font-size: 1.2rem;*/
}
.content-panel .circle .text{
    color: white;
}
.dialog .content-panel .circle .text{
    color: black;
}
.content-panel .card-people{
    margin-top: 9px;
}
.page > .content-panel{
    align-items: center;
}

.page.plan_detail > .content-panel{
    gap: 0;
    background: #ccc;
}

.card-list .title{
    /*border-top: 1px solid #888888;*/
    /*border-bottom: 1px solid #888888;*/
}

.detail .content-panel {
    margin: 0;
    color: #333333;
    background-color: #eeeeee;
    border-radius: 0;
    font-size: 11px;
    align-content: space-between;
    justify-content: space-between;
}

.card .content-panel {
    /*margin: 0.25rem;*/
    color: white;
    background-color: #00000033;
    border-radius: 0.5rem;
    font-size: 11px;
}

.detail .content-panel,
.card .content-panel,
.dialog .content-panel {
    height: auto;
    padding: 0.5rem;
    /*border-radius: 40px;*/
    gap: 0.5rem;
    background: none;
    min-width: 70%;
    min-height: 20%;
}

.content-panel > .title {
    background: none;
    padding: 0.5em;
    background: #00000008;
}

.content-panel > .title {
    box-shadow: 0 0 1px black;
}

.content-panel .subtitle {
    background: none;
    padding: 0 0 0.5rem 0.5rem;
}


.content-panel .text {
    font-size: 11px;
}
