.dialog {
    background: #ffffff;
    opacity: 1;
    visibility: visible;
    transition: opacity 90ms ease-in-out;
    margin: auto;
    z-index: 999999;
    height: auto;
    min-height: 120px;
    color: black;
    max-height: 640px;
    border-radius: 2rem;
    padding: 24px;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    max-width: 360px;
    overflow: scroll;
}

.dialog .person-icon,
.dialog .person-icon .circle,
.dialog .row > .circle {
    border-color: black;
    background-color: white;
}

.dialog .content-panel > .row {
    gap: 1rem;
    margin: auto;
}

.dialog .content-panel {
    padding: 0;
    gap: 1rem;
}
.dialog .content-panel .content-panel {
    flex-flow: wrap;
}
.dialog .action-panel {
    justify-content: space-between;
    width: 100%;
}
.dialog .simple-list {
    padding: 0;
    margin: 0;
}

.dialog .title .action-item {
    padding: 0;
}

.dialog .action-item {
    color: black;
    background-color: white;
    padding: 0.5rem 0.75rem;
}

.dialog .action-item:hover {
    background-color: #dddddd;
}
.dialog .title {
    padding: 0;
    box-shadow: none;
    background: none;
}

.dialog .choice-set {
    background: none;
}

.dialog .title,
.dialog .subtitle {
    color: black;
    font-size: 1.2rem;
}

.dialog .circle .subtitle {
    font-size: 0.75rem;
}

.dialog .autocomplete .simple-list {
    display: flex;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 0.5rem;
}

.smoke {
    background: #000000bb;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 900;
}

.dialog .outer-box {
    background-color: white;
}

/* .dialog .page {
    color: black;
    text-align: center;
    min-height: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .dialog .title {
        color: red;
    } */

.dialog-content {
    color: black;
    text-align: center;
    /* min-height: 100%; */
    /* background-color: #111; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin: auto;
    /* padding: 24px; */
    position: relative;
    min-height: 550px;
    /* max-width: 90%; */
    /* background-color: white;
    border-radius: 24px; */
}

/* header {
        height: 50px;
    } */

main {
    padding: 0 24px;
}

div {
    display: block;
}

main div {
    margin-top: 20px;
    display: block;
}

div.images {
    /* margin-top: 36px */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.images img {
    height: 72pt;
    border: 2px solid black;
    border-radius: 50%;
}

/* b {
        display: inline !important;
    } */

footer {
    /* width: 100%; */
    text-align: center;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer button.link {
    font-size: 16px;
    color: blue;
    background-color: white;
    width: 99%;
    border: none;
    margin-bottom: 8px;
}

footer .link:hover {
    text-decoration: underline;
}

footer button {
    width: 50%;
    padding: 9px;
    font-size: 16px;
    border-radius: 6px;
}

.dialog .card-tags {
    margin: 0;
}
.dialog label {
    font-size: 11px;
    min-width: 45%;
}

.dialog label.name{
    width: 100%;
}

select.select.category option,
select.select.category{
    width:100%;
}