
.hash-tag {
    color: white;
    background: darkgoldenrod;
    border-radius: 3px;
    font-size: 9px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    margin: 0 0.25em 0.25em auto;
    padding: 1px 5px 2px;
    width: fit-content;
    box-shadow: 1px 1px 2px black;
    /*cursor: pointer;*/
    text-transform: capitalize;
}

.hash-tag.red {
    background: #FF8888;
}

.hash-tag.green {
    background: #006600;
}

.hash-tag.blue {
    background: #8888ff;
}

.hash-tag.gold {
    background: #CCBB66;
}

.hash-tag.silver {
    background: #E0E0E0;
}

.hash-tag.black {
    background: #333333;
}

.hash-tag.white {
    background: #FFFFFF;
}