
.icon-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: auto;
    height: auto;
    border-radius: 36px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
    opacity: 99%;
}

.selected .icon-frame {
    background: #F9A831cc;
    opacity: 100%;
    transition: opacity 300ms, width 300ms, background 300ms;
}


.icon-frame-inner {
    width: auto;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon {
    position: static;
    /*width: 24px;*/
    /*height: 24px;*/
    margin: 0;
}
.explore.page .icon{
    width: 12px;
    height: 12px;
}
.explore.page .card .card-inner > .card-section > .content-panel > .card-subtitle{
    font-size: 9px;
}
.explore.page .action-item{
    font-size: 8px;
}
.explore.page .action-item.person .icon-frame .icon{
        width: 24px;
    height: 24px;
}
.action-item .icon,
.title .action-item.menu .icon {
    max-width: 24px;
    max-height: 24px;
    width: 24px;
    height: 24px;
}
