
/*label,*/
label input {
    /*width: 100%;*/
    /* margin-right: 15px; */
}
label .row .text{
    padding-top:3px;
}
textarea{
    width: 100%;
    min-height: 12em;
}

.selected label {
    color: #FFFFFFEE;
    transition: color 300ms;
}

label.search {
    /*background: deeppink;*/
}

label.Destination{
    width: 100%;
}

.black{
    color:black;
}
.page.timeline .is-current-period.card{
    border-color: green;
}
