
label,
label input {
    width: 100%;
    /* margin-right: 15px; */
}

textarea{
    width: 100%;
    min-height: 12em;
}

.selected label {
    color: #FFFFFFEE;
    transition: color 300ms;
}

label.search {
    /*background: deeppink;*/
}
