* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

button {
    cursor: pointer;
}

body {
    color: #ffffffbb;
    background: #123;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    user-select: none;
    font-family: 'SF Pro Display', Arial, sans-serif;
}

div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.content {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center center;
}

.outer-box {
    position: absolute;
    background: #F9A83133;
    width: 360px;
    height: 640px;
    overflow: hidden;
}

.inner-content {
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: 100%;
}

.rating {
    flex-direction: row;
    gap: 3px;
    border: 1px solid #fff8;
    width: 0;
    transition: width 300ms ease-in-out;
}

.rating .rating-star {
    opacity: 0.25;
    transition: opacity 450ms ease-in-out;
}

.rating .rating-star.on {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}


.rating-action .action-item {
    opacity: 1;
    transition:
            opacity 100ms ease-in-out,
            width 100ms ease-in-out;
    position: absolute;
    top: 0;
    z-index: 10;
}

.rating-action:hover .action-item {
    opacity: 0;
    transition:
            opacity 100ms ease-in-out,
            width 100ms ease-in-out;
}

.rating-action .rating {
    height: auto;
    margin: 0;
    opacity: 0;
    transition:
            opacity 100ms ease-in-out,
            width 100ms ease-in-out;
    position: absolute;
    top: 2px;
    z-index: 20;

    background-color: #333;
    border-radius: 36px;
    padding: 2px;
    overflow: hidden;
}

.rating-action:hover .rating {
    opacity: 1;
    transition:
            opacity 100ms ease-in-out,
            width 100ms ease-in-out;
    width: 110px;
}

.rating-action {
    /*background: #666666;*/
    margin: 0;
    border-radius: 36px;
    padding: 0;
    transition:
            opacity 100ms ease-in-out,
            width 100ms ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    /*height: 36px;*/
    width: 60px;
    z-index: 10;
}
.rating-action .icon{
    width: 24px;
    height: 24px;
}
.content-panel .action-item.rating-action .text{
    font-size: 16px;
    margin-top: 4px;
}

.help-text{
    font-size: 11px;
    margin: 6px 9px;
    text-justify: newspaper;
}

.map{
    width: 360px;
    height:476px;
    z-index: 300;
    margin-top: 118px;
}

.leaflet-popup-tip-container {
    top: 100%;
}

#map{
    z-index: -9999;
}

.map-panel{
    background: lightblue;
    width: 100%;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
}

.collect_board .map-panel{
    min-height: 326px;
}


.map-panel .description{
    font-size: 10px;
}

.page.collect_board .map-preview .card ,
.page.explore .map-preview .card {
    min-height: 0;
    gap: 6px;
    padding: 1em;
    border-radius: 2em;
}

.map-panel .action-item.pin {
    margin-top: 52px;
}
.map-panel .button.est-time-distance {
    position: absolute;
    top: 3px;
    width: 50%;
    line-height: 1em;
}

.explore.collect_board .map-preview .title,
.explore.collect_board .map-preview .action-item.book,
.explore.collect_board .map-preview .card .card-title,
.explore.page .map-preview .title,
.explore.page .map-preview .action-item.book,
.explore.page .map-preview .card .card-title{
    font-size: 11px;
}

.page.collect_board .map-preview .card .content-panel,
.page.explore .map-preview .card .content-panel{
    padding: 1px;
}

.page.collect_board .map-preview .title > .action-item,
.page.explore .map-preview .title > .action-item {
    background: none;
}

/* .page.collect_board .map-preview .card .row,
.page.explore .map-preview .card .row{
    justify-content: center;
} */

.page.collect_board .map-preview .card .title,
.page.explore .map-preview .card .title {
    padding: 1px;
}

.page.collect_board .map-preview .card .title .action-item,
.page.explore .map-preview .card .title .action-item{
    padding: 2px;
}

.page.collect_board .map-preview .card .preview-actions,
.page.explore .map-preview .card .preview-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 4px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 6px;
}

/* .page.collect_board .map-preview .card .card-people,
.page.explore .map-preview .card .card-people {
    margin-top: -1px;
    align-self: flex-end;
} */

/*.page.explore .map-preview .card .col,*/
/*.page.explore .map-preview .card .col:last-child {*/
/*    flex-direction: row;*/
/*}*/

.page.collect_board .map-preview .card .person-icon,
.page.explore .map-preview .card .person-icon {
    display: none;
}

.page.collect_board .map-preview .card .person-icon:first-child,
.page.explore .map-preview .card .person-icon:first-child {
     display: flex;
}

.page.collect_board .map-preview .hash-tag,
.page.explore .map-preview .hash-tag {
    font-size: 7px;
}

.page.collect_board .map-preview .card .title  .icon,
.explore.page .map-preview .card .title  .icon {
    width: 12px;
    height: 12px;
}

.explore.page .map-preview .card .title,
.page.collect_board .map-preview .card .title{
    font-size: 11px;
}

.action-item.small {
    padding: 2px 3px;
    margin: 1px;
    gap: 1px;
    /*background: none;*/
    border-radius: 3px;
    font-size: 11px;
}
.tiny-text{
    font-size:7px;
}
.action-item.book{
    background: #F9A831cc;
}
.action-item.book:hover{
    background: #F9A831FF;
}
.card-title .action-item{
    background: none;
}

.map-preview {
    position: absolute;
    /* top: calc(50% - 66px); */
    left: 0;
    right: 0;
    /*background-color: white;*/
    /*border: 1px solid black;*/
    border-radius: 2em;
    /*max-height: 90px;*/
    /*overflow: hidden;*/
    gap: 1em;
}

.map-preview .map-heading {
    justify-content: space-between;
}

.map-preview .map-title {
    font-size: 12px;
}

.map-preview .map-subtitle {
    font-size: 9px;
}

.map-preview .main-columns {
    gap: 1em;
}

.map-preview .card .action-item .icon,
.map-preview .card .title .action-item.menu .icon {
    max-width: 12px;
    max-height: 12px;
    width: 12px;
    height: 12px;
}

.map-preview .person-icon .icon-frame .icon {
    max-width: 24px;
    max-height: 24px;
    width: 24px;
    height: 24px;
}

.map-preview .card {
    background: none;
    background-color: white;
    color: black;
    text-shadow: none;
}

.map-preview .left-column {
    align-items: center;
    /* padding-left: 1em; */
    gap: 1em;
    width: 40%;
}

.map-preview .left-column * {
    /* width: fit-content; */
}

.map-preview .social-nav {
    width: 100%;
    justify-content: space-evenly;
}

.map-preview .social-nav img{
    width: 30px;
}

.map-preview .coplanner-panel {
    border: 1px solid #ddd;
    padding: .5em;
    border-radius: 1em;
}

.map-preview .coplanner-panel .tag {
    color: white;
    background-color: black;
    width: fit-content;
    padding-right: .7em;
    border-radius: 50vh;
    height: 20px;
}

.map-preview .coplanner-panel div img {
    width: 20px;
}

.map-preview .coplanner-panel .paid {
    background-color: green;
    padding-left: .7em;
    justify-content: center;
}

.map-preview .date-panel {
    align-items: center;
}

.map-preview .date-panel * {
    width: fit-content;
}

.map-preview .date-panel img {
    width: 1em;  
}



.map-preview .right-column {
    width: 60%;
}


.map-preview select.select.respond,
.map-preview select.select.respond option,
.map-preview select.select.category,
.map-preview select.select.category option {
    height: 24px;
    padding: 0.25em;
    font-size: 11px;
    width: fit-content;
}

.map-preview select.select.category {
    background-color: #F9A831;
    position: absolute;
    top: 6px;
    left: 60px;
}

.map-preview select.select.category option {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

.map-preview .card .child-image{
    min-height: 180px;
    width: 100%;
    /* background-position: center; */
    position: relative;
    /* object-fit: contain; */
    object-fit: cover;
    /* background-repeat: no-repeat; */
    border-radius: 1em;
}

.map-preview .action-item.book {
    position: absolute;
    bottom: 6px;
    left: 25%;
}
.plan_detail .card .text,
.collect_board .card .text {
    font-size: 11px;
}

.collect_board #range .choice {
    /*min-width: 86px;*/
}

.button {
    width: calc(100% - 12px);
    line-height: 2em;
    color: goldenrod;
    background: transparent;
    border-style: none;
    border-radius: 6px;
    margin: 3px 6px;
    padding: 3px 6px;
}
.button:hover{
    background: #dddddd;
}


.connect.page .header .action-item .text,
.collect.page .header .action-item .text {
    display: initial;
}

input[type="text"].tag-input {
    margin: 6px 0;
    width: 100%;
}

.boolean-choices {
    flex-direction: column;
    gap: 9px;
    flex: 2 2 100%;
}

.toggle-switch {
    position: relative;
    display: flex;
    width: 30px;
    height: 17px;
    min-width: 0 !important;
    flex-direction: row;
    /*margin-left: 36px;*/
    overflow: visible;
    white-space: nowrap;
    align-items: center;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
    /*margin-left: 6px;*/
}

.toggle-target {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.toggle-target:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

.toggle-switch input:checked + .toggle-target {
    background-color: #F9A831;
}

.toggle-switch input:focus + .toggle-target {
    box-shadow: 0 0 1px #F9A831;
}

.toggle-switch input:checked + .toggle-target:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.toggle-switch .toggle-target.round {
    border-radius: 17px;
}

.toggle-switch .toggle-target.round:before {
    border-radius: 50%;
}

.toggle-text{
    margin-left: 32px;
}

.tooltip {
    position: relative;
    /*display: inline-block;*/
}

.tooltip .tooltiptext {
    font-size: 0.7em;
    visibility: hidden;
    background-color: #00000088;
    color: white;
    text-align: center;
    padding: 1px 1px;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    /*width: 60px;*/
    /*margin-left: -30px; !* Use half of the width (120/2 = 60), to center the tooltip *!*/
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
}

.gold {
    color: #F9A831;
    background: white;
}
