.main-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: end;
    padding: 0;
    z-index: 500;
    box-shadow: -1px -1px 3px #000c;
}
#main-nav-tab-collect{
    /*margin: 0 48px;*/
}
.promoted-tabs {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    bottom: 47px;
    width: auto;
    height: auto;
    gap: 6px;
    flex-direction: row;
    align-items: end;
    z-index: 600;
    /*border-radius: 18px;*/
    box-shadow: -1px -1px 3px #000c;
    background: white;
    border-radius: 18px 18px 0 0;
    padding: 6px 6px 0 6px;
    clip-path: inset(-8px -8px 0px -8px);
}
.promoted-tabs .main-nav-tab{
    /*background: white;*/
    /*border-radius: 18px;*/
    /*padding: 1px;*/
}

.nav-list-item {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    background: #ffffffDD;
    padding: 0.75vh;
    font-size: 0.75rem;
    color: #000000CC;
}

.main-nav-tab {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: auto;
    cursor: pointer;
    min-width: 55px;
}
/*#main-nav-tab-connect{*/
/*    margin-bottom: 1em;*/
/*    margin-right: -1em;*/
/*}*/
/*#main-nav-tab-timeline{*/
/*    margin-bottom: 1em;*/
/*    margin-left: -1em;*/
/*}*/
.main-nav-tab-background {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}

.main-nav .icon-frame {
    background: white;
    border: 0px solid white;
    padding: 6px;
}
.promoted-tabs .icon-frame{
    background: white;
    border: 1px solid white;
    padding: 6px;
}

.promoted-tabs .icon-frame img,
.main-nav .icon-frame img {
    z-index: 1000;
}

.promoted-tabs .icon-frame,
.main-nav .icon-frame {
    min-height: 36px;
    min-width: 36px;
}

.main-nav-tab.selected #connect .icon-frame,
.card.connect {
    background-color: #e99821;
}

.main-nav-tab.selected #timeline .icon-frame,
.card.timeline {
    background-color: #e99821;
}

.main-nav-tab.selected #explore .icon-frame {
    /*background-color: #FFCC00;*/
    background-color: #ef5656;
}

.main-nav-tab.selected #broadcast .icon-frame {
    /*background-color: #FFCC00;*/
    background-color: #aa6600;
}

.header>.row{
    padding: 1px 3px;
}

.page.collect_board .choice-set .choice{
    min-width: 72px;
}
.page.collect_board .choice-set .action-item{
    width:48px;
    height: 48px;
}


.dialog .choice-set .action-item,
.page.collect_board .header>.row .action-item,
.page.explore_detail .header>.row .action-item,
.page.plan_detail .header>.row .action-item,
.page.plan .header>.row .action-item,
.page.connect #connect .action-item,
.page.timeline #timeline-filters .action-item,
.page.collect #collect-filters .action-item,
.page.explore .header>.row  .action-item,
.page.explore #explore-filters .action-item{
    display: none;
}

.page.explore .card.explore {
    background-color: #ef5656;
    /*box-shadow: 2px 2px 4px 1px #00000088;*/
    box-shadow: 1px 1px 2px 0px #000000FF;
    /*width: 100%;*/
    width: 170px;
    display: flex;
}

.page.explore .content-panel .card-list {
    display: block;
    /*grid-template-columns: repeat(auto-fill, minmax(167px, 1fr));*/
    /*grid-template-rows: masonry;*/
    /*grid-gap: 3px 6px;*/
    /*padding-bottom: 196px;*/
}

.page.explore .content-panel .card-list .card {
    /*width: 100%;*/
    /*height: 100%;*/
    display: inline-flex;
}

.main-nav-tab.selected #collect .icon-frame,
.main-nav-tab.selected #boards .icon-frame {
    background-color: #5667bc;
}

.main-nav-tab.selected #plan .icon-frame {
    background-color: #67bc67;
}

.main-nav-tab.selected #settle .icon-frame {
    background-color: #9966ff;
}

.main-nav-outer {
    z-index: 400;
}

.nav-caption {
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    color: #333333;
    width: 100%;
    display: block;
    /*display:none;*/
    flex: none;
    order: 0;
    flex-grow: 0;
    user-select: none;
    flex-direction: row;
    margin-top: -2px;
}

.outer-box>.circle {
    display: none;
    width: 42px;
    height: 42px;
    /*box-shadow: 0 0 2px 2px black;*/
    box-shadow: 0 0 5px #000c;
    position: absolute;
    bottom: 32px;
    left: calc(50% - 21px);
    border-radius: 50%;
}