

.action-item.person .text,
.message-item .text,
.person-icon .text {
    display: none;
    /*width:0;*/
    /*margin:0;*/
    /*padding:0;*/
    max-height: 0;
    max-width: 0;
    opacity: 0;
    visibility: collapse;
    transition: opacity 300ms ease-in-out,
    height 300ms ease-in-out,
    width 300ms ease-in-out;
}
.action-item.person:hover .text,
.message-item:hover .text,
.person-icon:hover .text {
    display: block;
    max-height: 10em;
    max-width: 10em;
    opacity: 1;
    visibility: visible;
    transition: opacity 1300ms ease-in-out,
    display 1300ms ease-in-out,
    max-height 1300ms ease-in-out,
    max-width 1300ms ease-in-out;
}
.dialog .profile > .action-item.person .text,
.dialog .message-item .text,
.dialog .profile > .person-icon .text
{
    display: block;
    opacity: 1;
    visibility: visible;
    max-height: 10em;
    max-width: 10em;
}
.dialog .search .action-item.person .text{
    display: none;
}
.message-item .message-text,
.message-item-sender .message-text {
    flex-direction: column;
    font-size: 11px;
    gap: 0.25em;
    /* background: white; */
    background: #CAF2FF;
    border: 1px solid #BAE2EF;
    margin: 0 30px 0 15px;
    padding: .75em;
    border-radius: .75em .75em .75em 0;
    color: #000000CC;
    box-shadow: none;
    text-shadow: none;
    text-align: justify;
}

.message-item.is-current-user .message-text {
    background: #F0DCFF;
    border: 1px solid #E0CCEF;
    margin: 0 15px 0 30px;
    border-radius: .75em .75em 0 .75em;
}

/*noinspection CssUnusedSymbol*/
.page.connect_chat .person.connect_person {
    display: none;
}