
.person-icon .icon-frame {
    margin: 0;
}

.person-icon .text {
    padding: 3px 12px 0 4px;
}

.person-icon .icon {
    height: 24px;
}

.person-icon .circle {
    padding-right: 0;
    background: #0005;
}

.person-icon .action-item {
    padding: 0;
}

.person-icon {
    width: fit-content;
    height: fit-content;
    background: #ffffffee;
    border: 1px solid #ffffffee;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    margin-right: -7px;
}

.row > .circle{
    background: #000000ee;
    border: 1px solid #ffffffee;
    border-radius: 15px;
}
.row > .circle .text{
    margin: 0 0 0 1px;
    padding-top: 3px;
    font-size: 11px;
}