.timeline * {
    /* margin-top: 0 !important; */
}

.timeline {
    /* padding: 0px 0; */
    height: auto;
    width: auto;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: white;
    color: black;
    /* min-height: 100px; */
}

.timeline .day {
    display: inline-flex;
    margin: 0.5rem;
    border-radius: 10px;
    /* background-color: grey; */
    width: 50px;
    height: 70px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.timeline .day.current-day {
    background-color: black;
    color: white;
}

.timeline .day.adjacent-day {
    background-color: #eaeaea;
}

.timeline .day-of-week {
    font-size: 10px;
    justify-content: flex-end;
}
