.day-picker {
    /* padding: 0px 0; */
    height: auto;
    width: auto;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background: none;
    color: black;
    min-height: 70px;
}
.day-picker .day {
    display: inline-flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 10px;
    width: 50px;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.day-picker .day.current-day {
    background-color: black;
    color: white;
}

.day-picker .day.adjacent-day {
    background-color: #eaeaea;
}

.day-picker .day-of-week {
    font-size: 10px;
    justify-content: flex-end;
}
.smart .detail .content-panel, 
.smart.card .content-panel, 
.smart .dialog .content-panel {
    min-height: auto;
}
.smart .card-inner{
    gap: 6px;
}
.mood{
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.memories {
    flex-direction: row;
    background-color: #0008;
    padding: 0.25rem;
    border-radius: 0.25rem;
}
.memories .image {
    border-radius: 0.25rem;
    width: 72px;
    height: 48px;
}
.timeline.card{
    border-radius: 13px;
    padding: 0;
    background-color: black;
}
.timeline.card .card-inner{
    border-radius: 13px;
    padding: 13px;
    
}
.card.not-current-period .content-panel {
    gap:1px;
    padding:3px;
}
.card.not-current-period .memories {
    display: none;
}
.card.not-current-period .memories .image {
    border-radius: 0.125rem;
    width: 36px;
    height: 24px;
}

.page.timeline .card:focus,
.page.timeline .card:focus-within,
.page.timeline .card.is-current-period{
    background-color: white;
}

.page.timeline .card.not-current-period{
    /* background-color: #888888; */
}
.page.timeline .card:focus .card-inner,
.page.timeline .card:focus-within .card-inner,
.page.timeline .card.is-current-period .card-inner{
    opacity: 1;
    transition: opacity 100ms ease-in-out;
}

.card.not-current-period .card-inner{
    opacity: 0.55;
    transition: opacity 100ms ease-in-out;
}
.timeline .card .card-inner{
     padding:7px;
}
.timeline .card .content-panel{
        padding:0;
}
.action-button{
    background-color: goldenrod;
    color: white;
    white-space: nowrap;
    text-align: center;
    margin:0;
    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;;
    /* box-shadow: 1px 1px 4px #0003; */
}
/* .card.not-current-period .card-inner{
    background-blend-mode: darken;
} */

.card.not-current-period .card-inner > .content-panel,
.card.not-current-period .card-inner > .row,
.card.not-current-period .card-inner > .text,
.card.not-current-period .action-item,
.card.not-current-period .card-people,
.card.not-current-period .card-tags{
        display: none;
}

.card.not-current-period:focus .card-inner > .content-panel,
.card.not-current-period:focus .card-inner > .row,
.card.not-current-period:focus .card-inner > .text,
.card.not-current-period:focus .action-item,
.card.not-current-period:focus .card-people,
.card.not-current-period:focus-within .card-inner > .content-panel,
.card.not-current-period:focus-within .card-inner > .row,
.card.not-current-period:focus-within .card-inner > .text,
.card.not-current-period:focus-within .action-item,
.card.not-current-period:focus-within .card-people{
        display: flex;
}

.card.not-current-period:focus .card-tags,
.card.not-current-period:focus-within .card-tags{
        display: block;
}

.card.not-current-period .action-item.plan,
.card.not-current-period .row > .card-subtitle{
    display: flex;
}
