.day-picker {
    /* padding: 0px 0; */
    height: auto;
    width: auto;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background: none;
    color: black;
    min-height: 70px;
}
.day-picker .day {
    display: inline-flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 10px;
    width: 50px;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.day-picker .day.current-day {
    background-color: black;
    color: white;
}

.day-picker .day.adjacent-day {
    background-color: #eaeaea;
}

.day-picker .day-of-week {
    font-size: 10px;
    justify-content: flex-end;
}

.memories {
    flex-direction: row;
    background-color: #0008;
    padding: 0.25rem;
    border-radius: 0.25rem;
}
.memories .image {
    border-radius: 0.25rem;
    width: 72px;
    height: 48px;
}
.timeline.card{
    border-radius: 3px;
    padding: 3px;
}
.card.not-current-period .content-panel {
    gap:1px;
    padding:3px;
}
.card.not-current-period .memories {
    display: none;
}
.card.not-current-period .memories .image {
    border-radius: 0.125rem;
    width: 36px;
    height: 24px;
}

.card.is-current-period{
    opacity: 1;
    transition: opacity 100ms ease-in-out;
}

.card.not-current-period{
    opacity: 0.75;
    transition: opacity 100ms ease-in-out;
}

.card.not-current-period .action-item,
.card.not-current-period .card-people,
.card.not-current-period .card-tags{
        display: none;
}
.card.not-current-period .action-item.plan,
.card.not-current-period .row > .card-subtitle{
    display: flex;
}
