
.toast {
    margin: auto;
    color: black;
    padding: 1rem;
    background: #eeeeeeff;
    border-radius: 0.125rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);
    z-index: 1000000;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    gap: 1em;
    right: 0;
    text-align: center;
    height: auto;
    max-height: 50%;
    min-height: 3em;
    left: 0;
    bottom: 1rem;
    width: 95%;
    opacity: 1;
    visibility: visible;
    transition: opacity 90ms ease-in-out;
}

.toast-item {
    background: #ffffff;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
}

